.gform_wrapper {
    padding: 50px 50px 25px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    background:$blk;

    @include respond(tab-port) {
        padding:30px 30px 20px;
    }

    .gfield_description,
    .gfield_label {
        color: white;
    }

    .gfield {
        input {
            padding:12px !important;
        }
    }

    label {
        color:$white;
        text-transform: none !important;
        font-size: 14px !important;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    .gfield_required {
        color: $white !important;
    }

    p.gform_required_legend {
        color:$white;
        font-size: 12px;
    }

    input[type="submit"] {
        text-transform: none !important;
        font-weight: bold !important;
        border:none;
        padding: 15px 20px;
        display: block;
        width: 100%;
        transition:$trans;
        white-space: break-spaces;
        line-height: 130% !important;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        background:#00b8f5;
        color:$white;
        cursor: pointer;

        &:hover {
            background:#efefef;
            color:#00b8f5;
        }
    }
}